* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "WorkSans";
  src: url("./шрифты/PTSerif-Regular.woff2") format("woff2"),
    url("./шрифты/WorkSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "WorkSans-Bold";
  src: url("./шрифты/WorkSans-Bold.woff2") format("woff2"),
    url("./шрифты/WorkSans-Bold.woff") format("woff");
}

body {
  font-family: Work Sans;
}

.container {
  height: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.wrapper {
  display: flex;
  
  height: 100%;
}
/* Header styles */
header {
  background-color: #3a3b3c;
  width: 100%;
  height: 100px;
}
.logo {
position: relative;
  
}
.logo img {
  margin: 0;
  position: absolute;
  width: 162px;
  height: 48px;
  left: 134px;
  top: 25%;
}
nav {
  height: 100%;
  width: 100%;
  position: relative;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
}

nav ul a {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 123.6%;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.navHome {
  position: absolute;
  width: 58px;
  height: 25px;
  left: 373px;
  top: 37px;
}

.navAbout {
  position: absolute;
  width: 90px;
  height: 25px;
  left: 469px;
  top: 37px;
}

.navOurWork {
  position: absolute;
  width: 92px;
  height: 25px;
  left: 597px;
  top: 37px;
}

.navClients {
  position: absolute;
  width: 69px;
  height: 25px;
  left: 727px;
  top: 37px;
}

.navOurBlog {
  position: absolute;
  width: 84px;
  height: 25px;
  left: 834px;
  top: 37px;
}

.navContactUs {
  position: absolute;
  width: 109px;
  height: 25px;
  left: 956px;
  top: 37px;
}

.btn {
  position: relative; 
  width: 24px;
  height: 24px;
  top: 38px;
  background-color: Transparent;
  border: none;
}

h1 {
  position: absolute;
  width: 440px;
  height: 177px;
  left: 135px;
  top: 276px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  text-transform: capitalize;
  color: #ffffff;
}

h1 span {
  color: #ff5300;
}

.sec-1 {
  background-color: #242526;
  height: 735px;
  width: 100%;
}

.sec-1 p {
  position: absolute;
  width: 493px;
  height: 65px;
  left: 135px;
  top: 478px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.image img {
  position: absolute;
  width: 639px;
  height: 429px;
  left: 663px;
  top: 253px;
}

.btn-2 {
  position: absolute;
  left: 135px;
  top: 593px;
  width: 150px;
  height: 50px;
  background: #ff5300;
  box-shadow: 0px 1px 10px #ff5300;
  border-radius: 5px;
  border: none;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}

.social ul li {
  list-style-type: none;
}

.facebook {
  position: fixed;
  z-index: 1;
  width: 40px;
  height: 40px;
  right: 0;
  top: 317px;
  background: #ff5300;
  box-shadow: 4px 5px 15px rgba(255, 83, 0, 0.4);
}

.facebookimage {
  position: absolute;
  height: 20px;
  width: 10.5px;
  left: 15px;
  top: 10px;
}

.instagram {
  position: fixed;
  z-index: 1;
  width: 40px;
  height: 40px;
  right: 0;
  top: 362px;
  background: #3a3b3c;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.instagramimage {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 10px;
  top: 10px;
}

.twitter {
  position: fixed;
  z-index: 1;
  width: 40px;
  height: 40px;
  right: 0;
  top: 407px;
  background: #3a3b3c;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.twitterimage {
  position: absolute;
  width: 20.38px;
  height: 16.57px;
  left: 9.78px;
  top: 11.69px;
}

.skype {
  position: fixed;
  z-index: 1;
  width: 40px;
  height: 40px;
  right: 0;
  top: 452px;
  background: #3a3b3c;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.skypeimage {
  position: absolute;
  top: 11px;
  left: 11px;
  width: 18.01px;
  height: 18.01px;
}

.sec-2 {
  position: relative;
  height: 935px;
  width: 100%;
  background-color: #18191a;
}

.sec-2 img {
  position: absolute;
  width: 684px;
  height: 352px;
  left: 63px;
  top: 203px;
}

.aboutus {
  position: absolute;
  width: 72px;
  height: 24px;
  left: 735px;
  top: 120px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.sec-2 h2 {
  position: absolute;
  width: 494px;
  height: 96px;
  left: 735px;
  top: 169px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 39.06px;
  line-height: 48px;
  color: #ffffff;
}

.sec-2 h2 span {
  color: #ff5300;
}

.sec-2 .about-us-text {
  position: absolute;
  width: 569px;
  height: 197px;
  left: 736px;
  top: 283px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.btn-3 {
  position: absolute;
  width: 150px;
  height: 50px;
  left: 736px;
  top: 505px;
  background: #ff5300;
  box-shadow: 0px 1px 10px rgba(255, 83, 0, 1);
  border-radius: 5px;
  border: none;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}

.article-1 {
  position: absolute;
  width: 270px;
  height: 200px;
  left: 135px;
  top: 615px;
  background: #242526;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.article-1 img {
  position: absolute;
  left: 23.75px;
  top: 22.5px;
  width: 22.5px;
  height: 25px;
}

.article-1 h6 {
  position: absolute;
  width: 206px;
  height: 48px;
  left: 31px;
  top: 131px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.article-1 div {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 100px;
  top: 25px;
  background: #ff5300;
  box-shadow: 4px 5px 15px rgba(255, 83, 0, 0.4);
  border-radius: 40px;
}

.article-2 {
  position: absolute;
  width: 270px;
  height: 200px;
  left: 435px;
  top: 615px;
  background: #242526;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.article-2 img {
  position: absolute;
  left: 23.75px;
  top: 26.16px;
  width: 21.25px;
  height: 17.68px;
}

.article-2 h6 {
  position: absolute;
  width: 177px;
  height: 48px;
  left: 47px;
  top: 131px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.article-2 div {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 100px;
  top: 25px;
  background: #7b7b7b;
  box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.4);
  border-radius: 40px;
}

.article-3 {
  position: absolute;
  width: 270px;
  height: 200px;
  left: 735px;
  top: 615px;
  background: #242526;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.article-3 img {
  position: absolute;
  left: 22.5px;
  top: 22.95px;
  width: 25px;
  height: 24.1px;
}

.article-3 h6 {
  position: absolute;
  width: 195px;
  height: 48px;
  left: 38px;
  top: 131px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.article-3 div {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 100px;
  top: 25px;
  background: #00acff;
  box-shadow: 4px 5px 15px rgba(0, 194, 255, 0.4);
  border-radius: 40px;
}
.article-4 {
  position: absolute;
  width: 270px;
  height: 200px;
  left: 1035px;
  top: 615px;
  background: #242526;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.article-4 img {
  position: absolute;
  left: 23.75px;
  top: 23.75px;
  width: 22.5px;
  height: 22.5px;
}

.article-4 h6 {
  position: absolute;
  width: 191px;
  height: 48px;
  left: 40px;
  top: 131px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.article-4 div {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 100px;
  top: 25px;
  background: #242526;
  box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.4);
  border-radius: 40px;
}

.section-our-expereince {
  position: relative;
  width: 100%;
  height: 673px;
  background: #242526;
}

.our-expereince {
  position: absolute;
  width: 120px;
  height: 24px;
  left: 135px;
  top: 83px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  color: #ffffff;
}

.expereince-text {
  position: absolute;
  width: 569px;
  height: 197px;
  left: 136px;
  top: 246px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  color: #ffffff;
  margin-bottom: 10px;
}

.section-our-expereince h2 {
  position: absolute;
  width: 487px;
  height: 96px;
  left: 135px;
  top: 132px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 39.06px;
  line-height: 48px;
  color: #ffffff;
}

.section-our-expereince h2 span {
  color: #ff5300;
}

.section-our-expereince button {
  position: absolute;
  left: 136px;
  top: 438px;
  height: 50px;
  width: 150px;
  background: #ff5300;
  box-shadow: 0px 1px 10px rgba(255, 83, 0, 1);
  border-radius: 5px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 123.6%;
  color: #ffffff;
}

.block-250 .block-50 {
  background: #3a3b3c;
}



.block1 {
  padding: 0 80px;
}
.test-section {
  width: 100%;
  height: 673px;
  background: #242526;
}
